/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Custom Fonts Import
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@font-face {
  font-family: "Signature";
  src: url("../fonts/signature.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Corp Tight";
  src: url("../fonts/ppneue.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Global Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

:root {
  --color-primary: #9bdedf;
  --color-text: #dcf3f4;
  --color-background: #081817;
  --color-secondary: #793827;
  --color-accent: #aac955;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #efeeec;
  --color-neutral-500: #818180;
  --color-neutral-600: #2c2c2c;
  --color-neutral-700: #1f1f1f;
  --color-neutral-800: #131313;
  --color-neutral-900: #000000;
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
  --duration-default: 0.735s;
  --animation-default: var(--duration-default) var(--cubic-default);
  --gap: 2em;
  --section-padding: calc(3.5em + (2em * 2));
  --container-padding: 2em;
}

@media screen and (max-width: 991px) {
  :root {
    --container-padding: 1.5em;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --container-padding: 1em;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  cursor: none;
}

p {
  margin: 0px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
svg {
  max-width: none;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
  transition: all var(--animation-default);
}

ul,
li {
  list-style: none;
}

main,
footer {
  padding: 0 5em 0 5em;
}

footer {
  padding-bottom: 5rem;
}

#main section {
  padding: var(--section-padding) var(--container-padding);
}

#main section .section-title h1 {
  margin-top: 2rem;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #081817;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection */
::selection {
  background-color: var(--color-primary);
  color: var(--color-neutral-700);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-neutral-700);
  text-shadow: none;
}

/* Preloader */
#preloader {
  font-family: Poppins;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2rem 5rem;
  z-index: 9999;
  text-transform: uppercase;
}

.preloader-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: start;
}

.preloader-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.preloader-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.preloader-text h1 {
  font-size: 8rem;
  font-weight: 900;
  color: var(--color-text);
}

.preloader-text h3 {
  font-size: 3rem;
  color: var(--color-neutral-500);
  font-weight: 100;
}

.preloader-counter {
  font-size: 2rem;
  color: var(--color-primary);
  font-family: Poppins;
}

@media (max-width: 800px) {
  .preloader-text h1 {
    font-size: 3rem;
  }

  .preloader-text h3 {
    font-size: 1rem;
  }

  .preloader-counter {
    font-size: 1.5rem;
  }
}

/* Cursor */
.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-background);
}

.grow,
.grow-small {
  transform: scale(4);
  background: var(--color-neutral-100);
  mix-blend-mode: difference;
  border: none;
}
.grow-small {
  transform: scale(1.5);
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Menu Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.menu ::-webkit-scrollbar,
.menu::-webkit-scrollbar {
  display: none;
}
.menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-row {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-logo-row {
  pointer-events: auto;
  justify-content: space-between;
  align-items: center;
  width: 13em;
  display: flex;
}

.nav-logo__wordmark {
  width: 4em;
}

.nav-logo__icon {
  width: 1.5em;
  height: 1.5em;
}

.container {
  z-index: 1;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container.is--full {
  max-width: 100%;
}

.nav-row__right {
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
  pointer-events: auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header {
  z-index: 110;
  padding-top: 1.5em;
  position: fixed;
  inset: 0% 0% auto;
}

.inline-link__p {
  margin-bottom: 0;
}

.nav {
  z-index: 100;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  inset: 0%;
}

.overlay {
  z-index: 0;
  background-color: #13131366;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.menu {
  padding-bottom: var(--menu-padding);
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  padding-top: calc(3 * var(--menu-padding));
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35em;
  height: 100%;
  margin-left: auto;
  position: relative;
  overflow: auto;
}

.menu-bg {
  z-index: 0;
  position: absolute;
  inset: 0%;
}

.menu-inner {
  padding: 3.5em;
  z-index: 1;
  padding: 2em;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
  position: relative;
  overflow: auto;
}

.bg-panel {
  z-index: 0;
  background-color: var(--color-neutral-600);
  border-top-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  position: absolute;
  inset: 0%;
}

.bg-panel.first {
  background-color: var(--color-primary);
}

.bg-panel.second {
  background-color: var(--color-neutral-100);
}

.menu-list {
  flex-flow: column;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.menu-list-item {
  position: relative;
  overflow: hidden;
}

.menu-list-item:nth-child(1) {
  margin-top: 100px;
}

.menu-link-heading {
  text-shadow: 0px 1em 0px var(--color-neutral-200);
}

.menu-link {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: var(--menu-padding);
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.menu-link-heading {
  z-index: 1;
  text-transform: uppercase;
  font-family: PP Neue Corp Tight;
  font-size: 5.625em;
  font-weight: 700;
  line-height: 0.75;
  transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
  position: relative;
}

.eyebrow {
  z-index: 1;
  color: var(--color-primary);
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 400;
  position: relative;
}

.menu-link-bg {
  z-index: 0;
  background-color: var(--color-neutral-800);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
  position: absolute;
  inset: 0%;
  transform: scale3d(1, 0, 1);
}

.menu-details {
  padding-left: var(--menu-padding);
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.p-small {
  font-size: 0.875em;
  font-family: Raleway;
}

.socials-row {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: row;
  display: flex;
}

.p-large {
  font-size: 1.125em;
  font-family: Raleway;
}

.text-link {
  text-decoration: none;
  position: relative;
}

.menu-button {
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
  background-color: #0000;
  color: var(--color-text);
  justify-content: flex-end;
  align-items: center;
  margin: -1em;
  padding: 1em;
  display: flex;
  border: none;
}

.menu-button-icon {
  width: 1em;
  height: 1em;
}

.menu-button-text {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 1.125em;
  display: flex;
  overflow: hidden;
}

.icon-wrap {
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0, 1);
}

@media (hover: hover) {
  /* Menu toggle button*/
  .menu-button:hover .icon-wrap {
    transform: rotate(90deg);
  }

  /* Menu Large Links */
  .menu-link:hover .menu-link-heading {
    transform: translate(0px, -1em);
    transition-delay: 0.1s;
  }
  .menu-link:hover .menu-link-bg {
    transform: scale(1, 1);
  }

  /* Menu Smaller Links */
  .text-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--color-primary);
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s var(--cubic-default);
  }

  .text-link:hover::after {
    transform-origin: left center;
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 767px) {
  .nav-logo-row {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    width: auto;
  }

  .nav-row__right {
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }

  .menu {
    padding-top: calc(6 * var(--menu-padding));
    width: 100%;
  }

  .bg-panel {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .menu-list-item {
    height: 4.5em;
  }

  .menu-link-heading {
    font-size: 4em;
  }

  .socials-row {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .p-large.text-link {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    padding-top: calc(7 * var(--menu-padding));
    padding-bottom: calc(2 * var(--menu-padding));
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Hero Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#hero {
  padding: 7em;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: right;
  height: 100svh;
  background: url(../img/hero_bg1.png) no-repeat center center/cover;
  background-color: #081817;
}

#hero .container h1 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 10em;
  text-transform: uppercase;
  line-height: 120px;
}

#hero .container p {
  font-family: Raleway;
  color: gainsboro;
  font-weight: 200;
  font-size: 1.5em;
}

.scroll-downs {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 35px;
}
.mousey {
  width: 3px;
  padding: 6px 11px;
  height: 25px;
  border: 2px solid var(--color-neutral-100);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 5px;
  border-radius: 25%;
  background-color: var(--color-neutral-100);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@media (max-width: 950px) {
  #hero {
    background: url("../img/hero_bg2.png") center no-repeat;
    background-size: cover;
  }
  #hero .container h1 {
    font-size: 7em;
    line-height: 85px;
  }
}

@media (max-width: 850px) {
  #hero .container h1 {
    font-size: 5rem;
    line-height: 60px;
  }
  #hero .container p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  #hero .container {
    padding: 5rem 2rem;
  }
}

@media (max-width: 450px) {
  #hero .container h1 {
    font-size: 3.5rem;
    line-height: 45px;
  }
  #hero .container p {
    font-size: 1rem;
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
About Me Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#about .sector-1 {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: start;
}

#about .about-headline {
  position: absolute;
  padding-left: 0;
}
#about .about-headline h1 {
  color: var(--color-accent);
  margin-top: 2.5rem;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 15%;
  line-height: 0.75;
}
#about .about-headline h3 {
  font-family: Signature;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 1rem;
}

#about .about-image img {
  width: 75vw;
}

#about .about-text p {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

#about .about-social-mobile {
  display: none;
}

#about .sector-2 {
  margin-top: 2rem;
  gap: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  font-family: poppins;
}

#about .sector-2 li a {
  font-size: 1rem;
  color: var(--color-neutral-400);
}

#about .sector-2 p {
  font-size: 1rem;
  font-weight: 400;
}
.about-social,
.about-linkto {
  width: 20%;
}

.about-description {
  width: 40%;
}

.about-social li,
.about-linkto li {
  margin-top: 10px;
  padding: 5px 5px;
  border-bottom: 1px solid var(--color-accent);
  display: flex;
  justify-content: space-between;
}

#about .sector-3 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: Raleway;
}

#about .sector-3 span {
  color: var(--color-neutral-500);
  font-weight: 700;
}

#about .sector-3 .about-tools,
#about .sector-3 .about-lang {
  letter-spacing: 3px;
}

@media (max-width: 1450px) {
  #about .about-headline h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1250px) {
  #about .about-social {
    display: none;
  }
  #about .about-social-mobile {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  #about .sector-3 {
    flex-direction: column;
    align-items: center;
  }
  #about .about-lang {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1050px) {
  #about .about-headline h1 {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 0.9;
  }

  #about .about-headline h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  #about .about-image img {
    width: 60vw;
  }
}

@media (max-width: 950px) {
  #about .sector-2 {
    flex-direction: column;
  }

  #about .about-description {
    width: 100%;
  }

  #about .about-social-mobile {
    margin-top: 0;
  }
  #about .about-social-mobile,
  #about .about-learn-more {
    width: 40%;
  }

  #about .about-linkto {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  #about .about-headline h1 {
    font-size: 1.5rem;
  }
  #about .about-headline h3 {
    font-size: 1rem;
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Case Studies Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#case-studies .section-main {
  display: flex;
  gap: 2rem;
}

#case-studies .case-large,
#case-studies .case-small {
  width: 50%;
  height: 70svh;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#case-studies .case-large {
  width: 50%;
}

#case-studies .case-small {
  flex-direction: column;
}

#case-studies .case-small .card:nth-child(1) {
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px #000000);
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: Poppins;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  color: var(--color-neutral-500);
}

.card-meta .card-no {
  font-family: PP Neue Corp Tight;
  font-size: 2rem;
  font-weight: 700;
}

.card-tdesc h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.card-tdesc p {
  font-weight: 200;
  color: var(--color-neutral-500);
}
.card.featured {
  background: url("../img/case-studies/case.png") center no-repeat;
  background-size: cover;
  height: 100%;
}

.card.rtop,
.card.rbottom {
  background: url("../img/case-studies/case.png") center no-repeat;
  background-size: cover;
  height: 100%;
}

@media (max-width: 1050px) {
  #case-studies .section-main {
    flex-direction: column;
  }

  #case-studies .case-large,
  #case-studies .case-small {
    padding: 0;
    width: 100%;
    height: 100svh;
  }
}

@media (max-width: 750px) {
  #case-studies .case-large {
    height: 50svh;
  }

  #case-studies .case-small {
    height: 70svh;
  }
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
CTA Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact h3 {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-neutral-500);
}

#contact h1 {
  font-weight: 500;
  font-size: 5rem;
}

@media (max-width: 750px) {
  #contact h1 {
    font-size: 3rem;
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Footer Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top: 1px solid var(--color-neutral-200);
  padding-top: 5rem;
  font-family: Raleway;
}

footer .footer-content {
  display: flex;
  gap: 10rem;
}

footer .footer-headline p,
.footer-links ul {
  margin-top: 10px;
}

footer .footer-headline {
  width: 40%;
}

footer .footer-headline p {
  color: var(--color-neutral-500);
}

footer .footer-headline a {
  color: var(--color-text);
}

footer .footer-links {
  display: flex;
  gap: 10rem;
}

footer .footer-links a {
  font-weight: 200;
  font-size: 1.2rem;
}

footer .footer-copyrights {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--color-neutral-500);
  gap: var(--gap);
}

@media (max-width: 1350px) {
  footer .footer-content {
    gap: 1rem;
  }

  footer .footer-links {
    gap: 3rem;
  }
}

@media (max-width: 950px) {
  .footer-content {
    flex-direction: column;
  }

  footer .footer-headline {
    width: 100%;
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Contact Me Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#contact-me {
  width: 100%;
  height: 100dvh;
  display: flex;
  gap: 10rem;
  padding: 10rem;
}

#contact-me h1 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 0.75;
}

#contact-me h2 {
  font-weight: 300;
  margin-bottom: 2rem;
}

#contact-me h3 {
  font-family: Poppins;
  font-weight: 200;
  font-size: 2.5rem;
}

#contact-me p {
  margin-top: 2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

#contact-me a {
  font-weight: 200;
  text-decoration: underline;
}

#contact-me .form-row {
  display: flex;
  gap: 2em;
  margin-bottom: 1.5em;
}

#contact-me input {
  all: unset;
}

#contact-me .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#contact-me .form-group label {
  margin-bottom: 0.5em;
  color: var(--color-text);
}

#contact-me .form-group input,
#contact-me .form-group select,
#contact-me .form-group textarea {
  padding: 0.75em;
  border-bottom: 1px solid var(--color-neutral-500);
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: inherit;
  font-size: 1em;
}

#contact-me .form-group textarea {
  resize: vertical;
  border: none;
  border-bottom: 1px solid var(--color-neutral-500);
}

#contact-me button[type="submit"] {
  all: unset;
  /* padding: 0.75em 2em; */
  padding-bottom: 0.25rem;
  color: var(--color-primary);
  font-size: 1em;
  transition: all 3s ease-in;
}

#contact-me button[type="submit"]:hover {
  border-bottom: 1px solid var(--color-neutral-500);
}

@media (max-width: 1250px) {
  #contact-me {
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    margin: 100px 0;
  }

  #contact-me h1 {
    font-size: 3rem;
  }

  #contact-me h3 {
    font-size: 1.5rem;
  }

  #contact-me .form-row {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  #contact-me .form-row {
    flex-direction: column;
  }
}

#coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: Raleway;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

#coming-soon img {
  width: 300px;
}

#coming-soon a {
  margin-top: 2rem;
  background-color: var(--color-accent);
  color: var(--color-background);
  padding: 0.5em 2em;
}
