<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template - Nadid Wasique</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nadid Wasique - Portfolio.</title>

    <!-- METADATA -->
    <meta name="author" content="Nadid Wasique (DaTaklaCatto)" />
    <meta
      name="keywords"
      content="Nadid Wasique, DaTaklaCatto, web developer, programmer, designer, UX/UI, portfolio, Bangladeshi developer, Indian developer"
    />
    <meta
      name="description"
      content="Explore the portfolio of Nadid Wasique (DaTaklaCatto). A talented developer, programmer, and designer from Bangladesh specializing in web development and UX/UI."
    />
    <meta property="og:title" content="Nadid Wasique | DaTaklaCatto - Developer & Designer" />
    <meta
      property="og:description"
      content="Showcasing the work of Nadid Wasique (DaTaklaCatto), an innovative web developer and designer from Bangladesh."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nadid.is-cool.dev/" />
    <meta property="og:image" content="https://nadid.is-cool.dev/assets/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nadid Wasique | DaTaklaCatto - Developer & Designer" />
    <meta
      name="twitter:description"
      content="Portfolio of Nadid Wasique, a skilled programmer and designer specializing in web development and UX/UI."
    />
    <meta name="twitter:image" content="https://nadid.is-cool.dev/assets/twitter-image.jpg" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aquawolf04/font-awesome-pro@5cd1511/css/all.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-content">
        <div class="preloader-top">
          <div class="preloader-logo">
            <img src="assets/img/logos/LOGO.png" alt="" height="50" />
            <h1>NADID<br />WASIQUE</h1>
          </div>
        </div>
        <div class="preloader-bottom">
          <div class="preloader-text">
            <h1>Welcome</h1>
            <h3>Please Wait A Bit</h3>
          </div>
          <div class="preloader-counter" id="preloader-counter">0%</div>
        </div>
      </div>
    </div>

    <div class="cursor"></div>

    <header class="header">
      <div class="container is--full">
        <nav class="nav-row">
          <a href="#" aria-label="home" class="nav-logo-row w-inline-block">
            <img src="assets/img/logos/LOGO.SLT.svg" alt="" height="100" />
          </a>
          <div class="nav-row__right">
            <button role="button" data-menu-toggle="" class="menu-button">
              <div class="menu-button-text">
                <p class="p-large cursor-scale small">MENU</p>
                <p class="p-large cursor-scale small">CLOSE</p>
              </div>
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 16 16" fill="none" class="menu-button-icon">
                  <path d="M7.33333 16L7.33333 -3.2055e-07L8.66667 -3.78832e-07L8.66667 16L7.33333 16Z" fill="currentColor"></path>
                  <path d="M16 8.66667L-2.62269e-07 8.66667L-3.78832e-07 7.33333L16 7.33333L16 8.66667Z" fill="currentColor"></path>
                  <path d="M6 7.33333L7.33333 7.33333L7.33333 6C7.33333 6.73637 6.73638 7.33333 6 7.33333Z" fill="currentColor"></path>
                  <path d="M10 7.33333L8.66667 7.33333L8.66667 6C8.66667 6.73638 9.26362 7.33333 10 7.33333Z" fill="currentColor"></path>
                  <path d="M6 8.66667L7.33333 8.66667L7.33333 10C7.33333 9.26362 6.73638 8.66667 6 8.66667Z" fill="currentColor"></path>
                  <path d="M10 8.66667L8.66667 8.66667L8.66667 10C8.66667 9.26362 9.26362 8.66667 10 8.66667Z" fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </div>
        </nav>
      </div>
    </header>

    <div data-nav="closed" class="nav">
      <div data-menu-toggle="" class="overlay"></div>
      <nav class="menu">
        <div class="menu-bg">
          <div class="bg-panel first"></div>
          <div class="bg-panel second"></div>
          <div class="bg-panel"></div>
        </div>
        <div class="menu-inner">
          <ul class="menu-list">
            <li class="menu-list-item">
              <a href="#hero" class="menu-link w-inline-block cursor-scale large">
                <p class="menu-link-heading">Home</p>
                <p class="eyebrow">01</p>
                <div class="menu-link-bg"></div>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#about" class="menu-link w-inline-block cursor-scale large">
                <p class="menu-link-heading">About Me</p>
                <p class="eyebrow">02</p>
                <div class="menu-link-bg"></div>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#case-studies" class="menu-link w-inline-block cursor-scale large">
                <p class="menu-link-heading">Case Studies</p>
                <p class="eyebrow">03</p>
                <div class="menu-link-bg"></div>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="https://pcbuilderbd.com/author/nadid/" target="_blank" class="menu-link w-inline-block cursor-scale large">
                <p class="menu-link-heading">Blog <i class="fa-thin fa-arrow-up-right"></i></p>
                <p class="eyebrow">04</p>
                <div class="menu-link-bg"></div>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="/contact-me/" class="menu-link w-inline-block cursor-scale large">
                <p class="menu-link-heading">Contact Me</p>
                <p class="eyebrow">05</p>
                <div class="menu-link-bg"></div>
              </a>
            </li>
          </ul>
          <div class="menu-details">
            <p data-menu-fade="" class="p-small">Socials</p>
            <div class="socials-row">
              <a data-menu-fade="" href="https://instagram.com/nadid.ws_57" target="_blank" class="p-large text-link cursor-scale small">Instagram</a>
              <a data-menu-fade="" href="https://github.com/DaTaklaCatto" target="_blank" class="p-large text-link cursor-scale small">Github</a>
              <a data-menu-fade="" href="https://codepen.io/DaTaklaCatto" target="_blank" class="p-large text-link cursor-scale small">Codepen</a>
              <a data-menu-fade="" href="https://dsc.gg/DaTaklaCatto" target="_blank" class="p-large text-link cursor-scale small">Discord</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <main id="main">
      <section class="" id="">
        <h1>Hello, World!</h1>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-content">
          <div class="footer-headline">
            <h1>Contact <br />Information —</h1>
            <p>
              Feel free to reach out to me any time. I prefer to talk over email or messaging services, especially since we may be a few time zones
              away.
            </p>
            <p>Email: <a href="mailto:nadidwasique.official@gmail.com">nadidwasique.official@gmail.com</a></p>
            <p>Voice: <a href="https://dsc.gg/DaTaklaCatto">dsc.gg/DaTaklaCatto</a></p>
          </div>
          <div class="footer-links">
            <div class="footer-featured">
              <h1>Important <br />Links —</h1>
              <ul>
                <li><a href="https://nadid.is-cool.dev/">Website</a></li>
                <li><a href="https://pcbuilderbd.com/author/nadid" target="_blank">Blog</a></li>
                <li><a href="https://github.com/DaTaklaCatto/Nadid-Wasique-Portfolio" target="_blank">Source Code</a></li>
                <li>
                  <a href="/contact-me/">Contact Me</a>
                </li>
              </ul>
            </div>
            <div class="footer-projects">
              <h1>Latest <br />Projects —</h1>
              <ul>
                <li><a href="/case-study/a-brand-identity/">P01 - A Brand Identity</a></li>
                <li><a href="/case-study/bridge-asia-plc/">P02 - Bridge Asia PLC.</a></li>
                <li><a href="/case-study/programming-journey/">P03 - Programming Journey</a></li>
                <li>
                  <a href="/case-study/">All Projects <i class="fa-thin fa-arrow-up-right"></i></a>
                </li>
              </ul>
            </div>
            <div class="footer-social">
              <h1>Follow <br />Me —</h1>
              <ul>
                <li><a href="https://instagram.com/nadid.ws_57" target="_blank">Instagram</a></li>
                <li><a href="https://github.com/DaTaklaCatto" target="_blank">Github</a></li>
                <li><a href="https://codepen.io/DaTaklaCatto" target="_blank">Codepen</a></li>
                <li><a href="https://dsc.gg/DaTaklaCatto" target="_blank">Discord</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyrights">
          <svg width="35" height="38" viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.63358e-05 0L8.44061 1.64952e-05L35 37.8399L20.6932 37.8399L0 8.21373L4.63358e-05 0Z" fill="#818180" />
            <path d="M17.5165 0.0453748H32.1288L34.9877 4.2203V13.9769H27.5001L17.5165 0.0453748Z" fill="#818180" />
            <path d="M10.165 32.6279V37.7558H1.95133L0.0907643 35.1238V18.1972L10.165 32.6279Z" fill="#818180" />
          </svg>

          <p>
            © Nadid Wasique.<br />
            Made with &lt;3 in Dhaka, Bangladesh.
          </p>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
